.logo{
  width: 40px;
  margin-right: 10px;
}

.thumbnail-product{
  height: 200px !important;
  max-width: 200px !important;

}

.sale-real-price{
  text-decoration: line-through;
}
.sale-offer-price{
  color: darkgreen;
}

.user-image{
  max-width: 200px;
}

input[type="text"], input[type="email"], input[type="password"], textarea{
  border-width: 3px !important;
} 

.boton-pag-registrarse{
  width: 100px;
  
}
.body{
  color:pink;
  background-image: url('img/c1.jpg'); 
  background-position: center;
}



.btn-pink {
  color: #fff; /* Color de texto blanco */
  background-color: #ff69b4; /* Color de fondo rosa */
  border-color: #ff69b4; /* Color de borde rosa */
}

.borde_nosotros{
  vertical-align: top; width:20%;
  border-top: 7px solid rgb(232, 155, 194); 
  border-bottom: 7px solid rgb(232, 155, 194); 
  border-left: 7px solid rgb(232, 155, 194); 
  border-right: 7px solid rgb(232, 155, 194);
}